<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	strict="true"
	colors="true"
	bootstrap="vendor/autoload.php">

	<php>
		<includePath>src/</includePath>
		<ini name="error_reporting" value="-1"/>
		<ini name="memory_limit" value="512M"/>
	</php>

	<testsuite name="db">
		<directory suffix="Test.php">tests/</directory>
		<file>tests/core/Helpers/toUppercaseTest.php</file>
	</testsuite>
</phpunit>