<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    backupStaticAttributes="true"
	strict="true"
	colors="true"
	bootstrap="vendor/autoload.php">

	<php>
		<includePath>src/</includePath>
		<ini name="error_reporting" value="-1"/>
		<ini name="memory_limit" value="512M"/>
	</php>

	<testsuites>
		<testsuite name="all">
			<directory suffix="Test.php">tests/</directory>
		</testsuite>

		<testsuite name="core">
			<file>tests/core/CoreAbstract/getConfigTest.php</file>
			<file>tests/core/CoreAbstract/setConfigTest.php</file>
			<file>tests/core/CoreAbstract/getConfig2Test.php</file>
			<file>tests/core/CoreAbstract/setConfig2Test.php</file>
		</testsuite>
	</testsuites>
</phpunit>